<mat-vertical-stepper>

        <mat-step label="Enter your Full name">
          <div [formGroup]="profileForm">
            <input matInput placeholder="Full name" formControlName="fullName" required>
          </div> <br>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
      
        <mat-step label="Profile Photo (Optional)">
          <div [formGroup]="profileForm">
            <input matInput placeholder="Photo URL" formControlName="photoURL">
          </div><br>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
      
        <mat-step label="Generate PIN">
          <button mat-button matStepperNext>Finish</button>
        </mat-step>
      
      </mat-vertical-stepper>