<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="menu-spacer">
            <a mat-button [routerLink]="'/check-in'">
                <mat-icon>check_circle_outline</mat-icon>
            </a>
            <a mat-button [routerLink]="'/PTO'">
                <mat-icon>report_problem</mat-icon>
            </a>
            <a mat-button [routerLink]="'/contacts'">
                <mat-icon>assignment</mat-icon>
            </a>
            <a mat-button [routerLink]="'/register'">
                <mat-icon>assignment_ind</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>