.main-container {
  margin-top: 60px;

}

.sidebar-container {
  position: absolute;
  top: -15px;
  bottom: 0;
  left: 0;
  right: 0;

}

mat-sidenav-content {
  background-color: white;
}

mat-sidenav {
  width: 300px;

}

.sidebar-toggle-button {
  width: 100%;

}

.sidebar-content-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.sidebar-content {
  width: 100%;
  text-decoration: none;
  padding-left: 10px;
  display: block;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.sidebar-content:hover {
  background-color: #0290EE;
  color: white;
}

.mat-list-item:hover {
  background-color: #0290EE;
  color: white;
}

a:visited {
  text-decoration: none;
}


/******************************/

mat-toolbar {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

.menu-spacer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.menu-spacer>a {
  width: 25%;
  height: 100%;
  margin-top: 10px;
}

.menu-spacer a:hover {
  background-color: salmon;
}

.menu-item-title{
  display: flex;
  margin-top: -15px;
  font-family: Roboto;
  font-size: 80%;
}

a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
