mat-toolbar {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.menu-spacer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.menu-spacer>a {
    width: 25%;
    height: 100%;
}

.menu-spacer a:hover {
    background-color: salmon;
}