.main-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar-container {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-content {
    background-color: white;
}

mat-sidenav {
    width: 300px;
}

.sidebar-content-container {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.sidebar-content {
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
    display: block;
    color: black;
}

a:visited {
    text-decoration: none;
}


/******************************/

mat-toolbar {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.menu-spacer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.menu-spacer>a {
    width: 25%;
    height: 100%;
}

.menu-spacer a:hover {
    background-color: salmon;
}