.tableHeader {
    text-align: center;
}

.dateTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tableDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    width: 100%;
    top: 0px;
    text-align: center;
    margin: 0px 50px 50px 50px;
}