.mat-column-number {
    flex: 0 0 20%;
}

.rankingTable {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 15%;
    margin-bottom: 100px;
}

.mediumSize {
    width: 70%;
}

.toRight {
    display: inline-block;
}

.title {
    width: 70%;
    text-align: left;
}

.slider {
    width: 40%;
    text-align: right;
}

.tableHeader {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.numberColumn {
    width: 20%;
    text-align: left;
}

.nameColumn {
    width: 50%;
    text-align: left;
}

.minutesColumn {
    width: 30%;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

::ng-deep .mat-slide-toggle-bar {
  background-color:  #99bfff ;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color:  #4489ff ;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:  #FFCCBC ;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color:  #FF8351 ;
}
