@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {

    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
.toLeft{
    display: inline-block;
    float: left;
}

.toRight{
    display: inline-block;
    float: right;
}

