.logInDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.checkIn-form {
  min-width: 150px;
  width: 100%;
}

.pinInput {
  width: 300px;
}

.checkIn-page-center {
  text-align: center;
}

.dayTimer {
  font-family: Helvetica;
}

.example-form-field {
  width: 200px;
}

.pin-number-input {
  -webkit-text-security: disc;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toCenter {
  text-align: center;
  margin-top: 90px;
}


.mat-icon-data {
  color: darkgray !important;
  margin-left: 3px !important;
}

.data-card {
  width: 80% !important;
  margin-top: 3%;
  max-width: 550px;
  background-color: #f8fcff !important;
  align-self: center;
  margin: auto !important;
}



.circular--landscape {
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 150%;
  margin-bottom: 2%
}

.circular--landscape:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}



.circular--landscape img {
  /* width: initial;
  height: -webkit-fill-available;
  margin-left: 0%; */
  align-self: center;
}

.card-icon {
  color: darkgray;
  margin-right: 7px;
  float: left;
}
