<h1 class="toCenter">Create a PTO {{selection}}</h1>
<div class="ptoContainer">
    <mat-vertical-stepper>

        <mat-step label="Fill out your PIN">
            <mat-form-field>
                <input matInput type="password" pattern="[0-9]*" inputmode="numeric" maxlength="4" placeholder="PIN" [(ngModel)]="pinValue" required>
            </mat-form-field> <br>
            <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step label="Day of PTO">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selection">
                <mat-radio-button [value]="0">Yesterday</mat-radio-button> <br><br>
                <mat-radio-button [value]="1">Today</mat-radio-button>
            </mat-radio-group> <br><br>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step label="Submit">
            <button mat-button matStepperNext (click)="Submit()">Finish PTO</button>
        </mat-step>

    </mat-vertical-stepper>
</div>